.naviMenu:nth-of-type(2)
{
    background: linear-gradient(to bottom,rgb(170, 220, 248), rgba(236, 236, 236, 0.6));
    box-shadow: 0 4px rgba(255, 255, 255, 1);
    border-radius: 0px;
}

.details
{
    position: absolute;
    width: 27%;
    height: 60%;
    top: 25%;
    opacity: 0.8;
}

#infoTess
{
    background-color: yellow;
    left: 10%; 
}

#infoHung
{
    right: 10%;
    background-color: rgb(152, 210, 243);
}

.avatar
{
    position: absolute;
    width: 80px;
    height: 80px;
    top: -40px;
    background-color: rgb(152, 210, 243);
    border-radius: 50%;
    border: 1px solid white;
}

#iconTess
{
    left: 20%;
}

#iconHung
{
    right: 20%;
    background-color: yellow;
}