#HappyBirthday
{
    position: absolute;
    margin: 0;
    /* width: 40%;
    height: 10%; */
    background:transparent;
    transform: scale(0);
    transition: 0.8s ease;
    color: white;
    text-align: center;
    font-size: 50px;
    top: 40%;
    left: 45%;
    opacity: 0;
}

#HPBD_message
{
    position: absolute;
    margin: 0;
    /* width: 60%; */
    /* height: 10%; */
    background: transparent;
    transform: scale(0);
    transition: 0.8s ease;
    color: white;
    text-align: center;
    font-size: 30px;
    top: 60%;
    left: 23%;
    opacity: 0;
}

#bdayTess
{
    transition: 0.3s ease;
    opacity: 0;
    /* background-color: blue; */
}